In [1]:
import csv

In [12]:
h=['ID','Name','City','Contact']
r=[[1,'om','gokul',9998887776],[2,'sai','mathura',8887776665],[3,'ram','ayodhya',9090909090],[4,'radhe','vrundavan',8908908908],[5,'krishna','dwarika',9090890908]]

In [14]:
l=[]
for i in range(5):
    ID=int(input("Enter ID:"))
    Name=input("Enter Name:")
    City=input("Enter City:")
    Contact=int(input("Enter Contact Number:"))
    s=[ID,Name,City,Contact]
    l.append(s)

Enter ID:6
Enter Name:shiv
Enter City:surat
Enter Contact Number:9090908080
Enter ID:7
Enter Name:parvati
Enter City:surat
Enter Contact Number:8080808080
Enter ID:8
Enter Name:ganesh
Enter City:bardoli
Enter Contact Number:7080906050
Enter ID:8
Enter Name:riddhi
Enter City:morbi
Enter Contact Number:9089786756
Enter ID:10
Enter Name:siddhi
Enter City:morbi
Enter Contact Number:9876543210

In [15]:
with open('c:\\sqlite3\\22bca35\\student.csv','w',newline='') as f:
    w=csv.writer(f)
    w.writerow(h)
    w.writerows(r)
    w.writerows(l)

In [16]:
with open('c:\\sqlite3\\22bca35\\student.csv','r') as f:
    w=csv.reader(f)
    for i in w:
        print(i)

['ID', 'Name', 'City', 'Contact']
['1', 'om', 'gokul', '9998887776']
['2', 'sai', 'mathura', '8887776665']
['3', 'ram', 'ayodhya', '9090909090']
['4', 'radhe', 'vrundavan', '8908908908']
['5', 'krishna', 'dwarika', '9090890908']
['6', 'shiv', 'surat', '9090908080']
['7', 'parvati', 'surat', '8080808080']
['8', 'ganesh', 'bardoli', '7080906050']
['8', 'riddhi', 'morbi', '9089786756']
['10', 'siddhi', 'morbi', '9876543210']